:root {
    color: #a80000;
    background-color: #1b1b1b;
}

a {
    color: #7e0000;
}

a:hover {
    color: #a80000;
}

button:hover {
    border-color: #1b1b1b;
}

.number {
    color: #1b1b1b;
    background-color: #757575;
}

.number:hover{
    background-color: #b1b1b1;
}

.operators {
    background-color: #1b1b1b;
    color: #cfcfcf;
}

.operators:hover{
    background-color: #000000;
}

.C {
    background-color: #a84c00;
    color: #cfcfcf;
}

.C:hover {
    background-color: #703200;
}

.display {
    color: #a80000;
    background-color: #1b1b1b;
}

.calculadora-final {
  background-color: #7e0000;
}