:root {
    color: #3ea800;
    background-color: #cfcfcf;
}

a {
    color: #266800;
}

a:hover {
    color: #3ea800;
}

button:hover {
    border-color: #1b1b1b;
}

.number {
    color: #cfcfcf;
    background-color: #153800;
}

.number:hover{
    background-color: #3ea800;
}

.operators {
    background-color: #1b1b1b;
    color: #cfcfcf;
}

.operators:hover{
    background-color: #000000;
}

.C {
    background-color: #a8a500;
    color: #1b1b1b;
}

.C:hover {
    background-color: #d6d300;
}

.display {
    color: #3ea800;
    background-color: #1b1b1b;
}

.calculadora-final {
  background-color: #266800;
}